body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font: 16px Helvetica,sans-serif;
}

a {
	color: #22a;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.content {
	display: block;
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 0;
    width: 640px;
}

#xtext-editor {
	display: block;
	position: absolute;
	top: 0;
	bottom: 100px;
	left: 0;
	right: 0;
	padding: 4px;
	border: 1px solid #aaa;
}

.status-wrapper {
	display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
	height: 20px;
}

.button-wrapper {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 5px;
	z-index: 999;
}

#generator-result {
	display: block;
	position: absolute;
    top: 20px;
    bottom: 50px;
    left: 680px;
	right: 20px;
}

#dirty-indicator {
	display: none;
	background: gray;
	color: #eee;
	padding: 1px 8px 1px 8px;
	border: 1px solid #ccc;
	margin-left: 10px;
}

#dirty-indicator.dirty {
	display: block;
}

#status {
	display: inline;
}

.output-icon {
	background-image: url("images/output.gif");
	background-repeat: no-repeat;
}

/************* Examples for custom icons *************/

/* For all elements of type Greeting or its subtypes */ 
/*
	.Greeting-icon {
		background-image: url('images/Greeting.gif');
	}
 */

/* Only in hovers */ 
/*
	.xtext-hover .Greeting-icon {
		background-image: url('images/Greeting.gif');
	}
 */
